@import "./variables.scss";

body {
  background: $body-bg;
  font-family: Montserrat, sans-serif;
  overflow-x: hidden;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  background: $brand-color;

  img {
    padding: 0 70px;
  }

  &__contact {
    padding: 0 70px;
    display: flex;
    grid-gap: 60px;
    align-items: center;

    button {
      width: 260px;
      border-radius: 48px;
      background: #EEE;
      color: $inverse-color;
      font-weight: 700;
      font-size: 14px;
      padding: 15px 30px;
      border: none;
      cursor: pointer;
      transition: .4s ease;
      &:hover {
        opacity: 0.8;
      }
    }

    a {
      font-weight: 600;
      font-size: 20px;
      text-decoration: none;
      color: #EEE;
      transition: .4s ease;
      &:hover {
        opacity: 0.8;
      }
    }

  }

  &__info {
    color: #EEE;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: auto;
    right: 75px;
    top: 79px;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      height: 100px;
      font-weight: 900;
      font-size: 40px;
      background: url("/images/svg/number-1.svg") center no-repeat;
      background-size: contain;
    }

    p {
      text-transform: uppercase;
      color: $brand-color;
      font-weight: 800;
      font-size: 16px;
    }
  }
}