@import "variables.scss";

.about {
  padding-top: 120px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("/images/Leaf-1.png") no-repeat left;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 80vw;

    &-text {
      width: 600px;

      h3 {
        position: relative;
        font-weight: 700;
        font-size: 30px;
        color: $secondary-text;

        &::before {
          content: "ПРО НАС";
          display: inline-block;
          top: -16px;
          position: absolute;
          color: $secondary-teal;
          font-weight: 700;
          font-size: 16px;
          width: 100%;
          background: url("/images/svg/Line-separator.svg") 30% no-repeat;
        }
      }

      p {
        line-height: 34px;
        font-weight: 400;
        font-size: 20px;
        color: $neutral-gray;
      }

      ol {
        list-style-type: none;
        counter-reset: num;
        margin: 0 0 0 60px;
        padding: 15px 0 5px 0;
        font-size: 16px;
        display: grid;
        gap: 30px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        li {
          position: relative;
          margin: 0;
          padding: 0 0 10px 0;
          line-height: 1.4;
          font-weight: 800;
          font-size: 24px;
          color: $inverse-color;

          &::before {
            content: '0' counter(num);
            counter-increment: num;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            border-radius: 50%;
            top: -6px;
            left: -60px;
            width: 48px;
            height: 48px;
            background: $accent-color;
            color: $primary-text;
            text-align: center;
            line-height: 34px;
            font-weight: 700;
            font-size: 20px;
          }
        }
      }
    }

    &-image {
      position: relative;

      &::after {
        content: "";
        display: block;
        background: url("/images/svg/deal.svg") no-repeat;
        position: absolute;
        top: 20px;
        left: -45px;
        width: 90px;
        height: 90px;
      }

      &::before {
        content: "";
        display: block;
        background: url("/images/svg/hand-key.svg") no-repeat;
        position: absolute;
        bottom: 160px;
        right: -25px;
        width: 98px;
        height: 98px;
      }

      button {
        transition: all 0.4s ease;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 90%;
        height: 80px;
        background: $brand-color;
        border-radius: 0 4px;
        color: #EEE;
        font-weight: 600;
        font-size: 17px;
        border: none;

        &::after {
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          background: url("/images/svg/arrow.svg") no-repeat;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__info {
    padding: 140px 0;
    width: 80vw;
    height: 200px;
    max-height: 200px;
    display: flex;
    align-items: center;

    &-item {
      position: relative;
      min-height: 100%;
      padding: 25px;
      text-transform: uppercase;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: $gray;

      &:last-child:after {
        content: "млн. км2";
        display: block;
        width: 28px;
        height: 22px;
        position: absolute;
        right: 50px;
        color: #EEE;
        font-weight: 400;
        font-size: 12px;
      }

      &:nth-child(odd) {
        background: $accent-color;
      }

      span {
        color: #EEE;
        font-weight: 800;
        font-size: 96px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        color: $inverse-color;
      }
    }
  }

}