@import "variables.scss";

.welcome {
  max-width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("/images/lamp.png") no-repeat left bottom, url("/images/windmill.png") no-repeat right bottom;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;


    &-title {
      position: relative;
      color: $inverse-color;
      padding-bottom: 40px;
      z-index: 2;

      &::after {
        content: "";
        background: url("/images/svg/Rectangle-green.svg") no-repeat;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 35%;
        left: 35%;
        z-index: -1;
      }
      &::before {
        content: "";
        background: url("/images/svg/Rectangle-white.svg") no-repeat;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      h1 {
        font-weight: 700;
        font-size: 64px;
        line-height: 30px;
        text-transform: uppercase;
        color: $secondary-text;

        span {
          font-weight: 400;
          font-size: 32px;
          color: $inverse-color;
        }
      }
    }

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Poppins, sans-serif;


      li {
        position: relative;
        color: $inverse-color;
        font-weight: 500;
        font-size: 16px;
        width: 100px;
        text-transform: uppercase;
        &:nth-child(1):after {
          content: "";
          background: url("/images/svg/Rectangle-purple.svg") center no-repeat;
          display: block;
          width: 120%;
          height: 120%;
          position: absolute;
          top: 0;
          left: -10%;
          z-index: -1;
        }
        &:nth-child(2):after {
          content: "";
          background: url("/images/svg/Rectangle-brown.svg") no-repeat;
          display: block;
          width: 120%;
          height: 120%;
          position: absolute;
          top: 0;
          left: -10%;
          z-index: -1;
        }
        &:nth-child(3):after {
          content: "";
          background: url("/images/svg/Rectangle-red.svg") no-repeat;
          display: block;
          width: 120%;
          height: 120%;
          position: absolute;
          top: 0;
          left: -10%;
          z-index: -1;
        }
        &:nth-child(4):after {
          content: "";
          background: url("/images/svg/Rectangle-brown.svg") no-repeat;
          display: block;
          width: 120%;
          height: 120%;
          position: absolute;
          top: 0;
          left: 10%;
          z-index: -1;
        }
      }
    }

    button {
      cursor: pointer;
      background: $btn-color;
      color: $inverse-color;
      border-radius: 48px;
      padding: 15px 30px;
      border: none;
      font-weight: 700;
      font-size: 14px;
      width: 40%;
      transition: .4s ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}