$brand-color: #78A92D;
$accent-color: #8FDD24;
$inverse-color: #1B3636;
$secondary-text: #3C3C3B;
$secondary-teal: #79DCF2;
$neutral-gray: #626262;
$gray: #A7B6A9;
$primary-text: #282F65;
$btn-color: #9DDDB3;
$body-bg: #EEF6E9;
